@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

body {
    width: $width-wide;
    position: relative;
    overflow: hidden;
    font-family: $font-light;

    .sc1-circle-deepblue {
        width: 80vw; height: 80vw;
        max-width: 400px; max-height: 400px;
        border-radius: 50%;

        overflow: hidden;
        position: absolute;
        top: -3%; right: -16%;
        z-index: -1;
        background-color: $color-midblue;

        @include responsive(large-screens) {
            width: 120vw; height: 120vw;
            max-width: 800px; max-height: 800px;
            top: -7%; right: -25vw;
        }

        @media (min-width: 1300px) {
            right: -6vw;
        }
    }  // sc1-circle-deepblue

    .sc1-circle-beige {
        width: 30vw; height: 30vw;
        border-radius: 50%;

        position: absolute;
        top: 5.5%; left: -5%;
        z-index: -2;
        background-color: $color-beige;

        @include responsive(large-screens) {
            width: 60vw; height: 60vw;
            max-width: 400px; max-height: 400px;
            top: 5.5%; left: -15vw;
        }

        @media (min-width: 1300px) {
            left: -2vw;
        }
    } // sc1-circle-beige
}

.container {
    width: $width-wide;
    max-width: 1416px;
    margin: 0 auto;
    padding: 0 12px;
}

// ==== header ====
header {
    position: fixed;
    width: 100%;
    padding: 12px 0;
    z-index: 1000;
    background-color: #ffffff00;
    // transition: background-color 0.3s ease;
    
    .container {
        display: flex;
        justify-content: space-between;
        // margin-top: 24px;

        .logo {
            width: 20%;
            max-width: 198px;

            img {
                width: 100%;
                transform: translateY(50%);

                @include responsive(large-screens) {
                    transform: translateY(0%);
                }
            }
        }  // logo
        
        .gnb {
            display: flex;

            li {
                display: flex;
                align-items: center;
                // margin-left: 12px;

                .menu-circle {
                    // margin-right: 4px;
                    display: inline-block;
                    width: 4px; height: 4px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: $color-lightblue;
                }

                .menu-txt {
                    margin: -4px 16px 0 8px;
                    font-size: 0;
                }

                
                &:hover {
                    .menu-circle{
                        background-color: $color-deepblue;
                    }

                    .menu-txt {
                        margin: -4px 16px 0 8px;
                        font-size: 14px;
                        color: $color-deepblue;
                    }
                }
            }  // li

            .selected-menu {
                .menu-circle {
                    background-color: $color-pink;
                    opacity: 1;
                }
                .menu-txt {
                    color: $color-pink;
                    font-size: 14px;
                }
            }  // selected-menu

            @include responsive(large-screens) {
                li {
                    margin-left: 12px;
                    .menu-txt {
                        font-size: 16px;
                        color: $color-lightblue;
                    }
                    .menu-circle {
                        width: 6px; height: 6px;
                        color: $color-lightblue;
                    }

                    &:hover {
                        cursor: pointer;
                        .menu-txt {
                            font-size: 16px;
                            font-weight: bold;
                            color: $color-deepblue;
                        }
                        .menu-circle {
                            background-color: $color-deepblue;
                            opacity: 1;
                        }
                    }
                }

                .selected-menu {
                    .menu-txt {
                        font-size: 16px;
                    }
                }
            }
        }  //gnb
    }  // container
} // header


.header-hide {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.header-scroll {
    opacity: 1;
    background-color: #ffffff;
    // mix-blend-mode: hard-light;
}

// ==== main ====
h2 {
    font-size: 20px;
    color: white;

    @include responsive(large-screens) {
        font-size: 32px;
    }
} // h2

// ==== intro ====
section.intro {
    margin: 48px 0 96px;
    
    // .sc1-circle-deepblue {
    //     width: 80vw; height: 80vw;
    //     max-width: 400px; max-height: 400px;
    //     border-radius: 50%;

    //     position: absolute;
    //     top: -5%; right: -15%;
    //     z-index: -1;
    //     background-color: $color-deepblue;
    // }  // sc1-circle-deepblue
    

    .greeting {
        height: 15vh;
        margin: 160px 0 64px;

        p {
            margin-bottom: -8px;
            font-size: calc(16px + 1.4vw);
            // font-weight: bold;
            letter-spacing: -1px;

            opacity: 0;
            
            .bold-blue {
                font-weight: bold;
                color: $color-midblue;
            }
            .bold-pink {
                font-weight: bold;
                color: $color-pink;
            }
        } // p

        .message1 {
            animation: greetingtext 0.5s ease-out forwards;
        }
        .message2 {
            animation: greetingtext 0.5s 1s ease-out forwards;
        }
        .message3 {
            animation: greetingtext 0.5s 1.5s ease-out forwards;
        }

        @include responsive(large-screens) {
            height: 20vh;
        }
    } // greeting

    @keyframes greetingtext {
        from {
            opacity: 0;
            transform: translateX(-32px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .card {   
        position: relative;
        border-radius: 3vw;
        color: $color-white;
        background-color: $color-deepblue;

        opacity: 0;
        animation: card 0.5s 2s ease-out forwards;
        
        p.title {
            position: absolute;
            top: 14%; left: 6%;
            font-size: 5vw;
            font-weight: bold;
            line-height: 1.3;

            .light-blue {
                font-weight: normal;
                color: $color-lightblue;
            }

            // @media (min-width: 476px) {
            //     font-size: calc(16px + 3vw);
            // }
        }

        .ability {
            position: absolute;
            border-radius: 50%;
            font-family: $font-extralight;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bubble1 {
            top: 10%; right: 5%;
            width: 16vw; height: 16vw;
            max-width: 196px; max-height: 196px;
            font-size: 3.5vw;
            line-height: 1;
            letter-spacing: -0.5px;
            text-align: center;
            background: linear-gradient(to right, $color-pink, $color-beige);

            opacity: 0;
            animation: bubble 0.5s 5.5s ease-out forwards;
        }

        .bubble2 {
            top: 30%; right: 25%;
            width: 12vw; height: 12vw;
            max-width: 148px; max-height: 148px;
            font-size: 2.5vw;
            line-height: 1;
            letter-spacing: -1px;
            text-align: center;
            background: linear-gradient(to right, $color-midblue, $color-pink);

            opacity: 0;
            animation: bubble 0.5s 5.9s ease-out forwards;
        }

        .bubble3 {
            top: 9%; right: 37%;
            width: 10vw; height: 10vw;
            max-width: 124px; max-height: 124px;
            font-size: 2vw;
            letter-spacing: -0.5px;
            background: linear-gradient(to right, $color-lightblue, $color-midblue);

            opacity: 0;
            animation: bubble 0.5s 5.7s ease-out forwards;
        }

        .bubble4 {
            top: 20%; right: 50%;
            width: 9vw; height: 9vw;
            max-width: 112px; max-height: 112px;
            font-size: 1.8vw;
            letter-spacing: -0.5px;
            background: linear-gradient(to right, $color-deepblue -30%, $color-lightblue);

            opacity: 0;
            animation: bubble 0.5s 6.0s ease-out forwards;
        }

        @keyframes bubble {
            0% {
                opacity: 0;
                transform: scale(0.7);
            }
            85% {
                transform: scale(1.1);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        #wave-line {
            padding-top: 16px;
        }

        @media (min-width: 1200px) {
            p.title {
                font-size: 64px;
            }
            .bubble1 {
                font-size: 42px;
            }
            .bubble2 {
                font-size: 30px;
            }
            .bubble3 {
                font-size: 24px;
            }
            .bubble4 {
                font-size: 21px;
            }
        }
    }  // card

    @keyframes card {
        from {
            opacity: 0;
            transform: translateY(32px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
} // section.intro

// ==== about me ====
section.about-me {
    position: relative;
    margin: 96px 0 48px;

    .sc2-circle-midblue {
        width: 100vw; height: 100vw;
        max-width: 640px; max-height: 640px;
        border-radius: 50%;
        background-color: $color-midblue;

        position: absolute;
        top: -40px; left: -40%;
        z-index: -1;

        @include responsive(large-screens) {
            width: 60vw; height: 60vw;
            max-width: 800px; max-height: 800px;
            left: -20%;
        }

        @media (min-width: 1300px) {
            left: -8vw;
        }
    } // sc2-circle-midblue

    .sc2-circle-lightblue {
        width: 70vw; height: 70vw;
        max-width: 360px; max-height: 360px;
        border-radius: 50%;
        background-color: $color-lightblue;

        position: absolute;
        top: calc(50% + 7vh); right: -15%;
        z-index: -1;

        @include responsive(large-screens) {
            max-width: 480px; max-height: 480px;
            right: -8%;
        }

        @media (min-width: 1300px) {
            right: 3%;
        }
    } // sc2-circle-lightblue

    .sc2-flex-wrap {
        display: flex;
        justify-content: space-between;
        
        .title {
            width: 45%;
        }

        .name {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -1px;
            text-align: right;

            .light {
                margin-left: 8px;
                color: $color-gray;
                font-weight: normal;
            }
        }
        .hashtag {
            // text-align: right;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;

            div {
                margin-bottom: 4px;
                margin-left: 6px;
                padding: 4px 16px;
                border-radius: 16px;
                font-size: 14px;
                color: $color-white;
            }
            .tag1 {
                background: linear-gradient(to right, $color-midblue -30%, $color-pink);
            }
            .tag2 {
                background: linear-gradient(to right, $color-pink, $color-beige);
            }
        }  // hashtag
    }  // sc2-flex-wrap

    .img-txt {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .img {
            width: 30%;
        } // img

        .txt {
            // width: 65%;
            
            .sub-title {
                position: relative;
                margin-bottom: 4px;
            }

            .sub-title:before {
                content: '';
                // display: inline-block;
                position: absolute;
                top: 50%; left: -20px;
                transform: translateY(-60%);
                width: 40px; height: 40px;
                border-radius: 50%;
                background-color: $color-beige;
                z-index: -1;
            }

            .content {
                margin-bottom: 32px;
            }
            .content-pink {
                color: $color-pink;
                margin-bottom: 0;
            }

            @include responsive(large-screens) {
                margin-left: 64px;
            }
        }  // txt
    }  // img-txt
}  // section.about-me

// ==== skill ====
section.skill {
    background-color: $color-deepblue;
    padding: 48px 0;
    color: $color-white;

    .sc3-flex-wrap {
        display: flex;
        justify-content: space-between;

        .sub-menu {
            display: flex;
            
            div {
                margin-left: 8px;
                padding: 4px 16px;
                border: 1px solid $color-white;
                border-radius: 16px;
                font-size: 14px;
                opacity: 0.5;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }  // div
    
            .selected-skill-menu {
                border: 0;
                opacity: 1;
                background: linear-gradient(to right, $color-pink, $color-midblue);
            }

            @include responsive(large-screens) {
                align-items: center;
                div {
                    margin-left: 12px;
                    padding: 4px 24px;
                    font-size: 20px;
                }
            }
        }  // sub-menu
    }  // mobile-flex

    // .pc {
    //     display: none;

    //     @include responsive(large-screens) {
    //         display: flex;
    //         width: 100%;
    //         margin: 0 auto;
    //     }
    // }

    ul {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 12px;

        opacity: 0;
        transition: opacity 0.5s ease-out;
        // visibility: hidden;

        li {
            display: block;
            width: 47vw; height: 47vw;
            padding: 20% 0;
            border: 1px solid $color-white;
            border-radius: 50%;
            font-size: 12vw;
            font-weight: 900;
            text-align: center;

            opacity: 0;
            transition: opacity 0.5s ease, transform 1s ease;
            transform: translateY(5%) rotate(30deg); /* 회전 효과 추가 */


            .prog-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding-bottom: 2.5vw;

                img {
                    width: 9vw;
                }
                .prog {
                    margin-left: 1.5vw;
                    font-family: $font-extralight;
                    font-size: 3.5vw;
                    font-weight: 100;
                    line-height: 1.2;
                    text-align: left;
                    color: $color-lightblue;
                }
            }

            &:hover {
                border: 3px solid $color-white;
                cursor: pointer;
                .prog {
                    font-weight: bold;
                }
            }
        }  // li

        .active-skill {
            opacity: 1;
            transform: translateY(0%) rotate(0deg); /* 회전 애니메이션 */
        }

        @include responsive(large-screens) {
            grid-template-columns: repeat(3, 1fr);

            li {
                width: 32vw; height: 32vw;
                max-width: 460px; max-height: 460px;
                padding: 7.8vw 5vw;
                font-size: 88px;

                .prog-title {
                    padding-bottom: 1.2vw;

                    img {
                        width: 64px;
                    }
                    .prog {
                        font-size: 24px;
                    }
                }
            }
        }

        display: none;
    }  // ul

    .menu-show {
        display: grid;
        opacity: 1;

        // li {
        //     animation: rotate 0.5s ease-out forwards;
        // }
    }

    @keyframes rotate {
        from {
            opacity: 0;
            transform: translateY(5%) rotate(30deg);
        }
        to {
            opacity: 1;
            transform: translateY(0%) rotate(0deg);
        }
    }

    @include responsive(large-screens) {
        padding: 96px 0;
    }
}  //section.skill

// ==== portfolio ====

section.portfolio {
    position: relative;
    overflow: hidden;
    margin: 48px 0;
    height: 90vh;

    h2 {
        color: $color-deepblue;
    }

    .sc3-bubble {
        position: absolute;
        border-radius: 50%;
        mix-blend-mode: multiply;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }
    }

    .desc {
        position: relative;
        margin: 2vw 0;

        .small {
            font-size: 3.5vw;
            line-height: 1;
            color: $color-white;
        }
        .name {
            margin: 2vw 0;
            font-size: 5vw;
            font-weight: bold;
            line-height: 1.2;
        }

        .btn-box {
            position: absolute;
            left: 0; bottom: 0;
            // padding-bottom: 8px;

            button {
                display: block;
                width: 30vw;
                margin-top: 1vw;
                padding: 1vw 2vw;

                font-family: $font-light;
                font-size: 3.5vw;
                font-weight: 100;
                text-align: left;
                border: 1px solid $color-beige;
                color: $color-beige;
                background-color: transparent;

                img {
                    display: inline;
                    float: right;
                    width: 4vw;
                    margin-top: 0.5vw;
                }
            }
        }
    } // desc

    .project1 {
        top: 20vh; right: 3vh;
        width: 80vw; height: 80vw;
        padding: 18% 12%;

        display: flex;
        justify-content: space-between;
        background-color: $color-pink;

        @media (min-width: 600px) {
            right: 30%;
            max-width: 600px; max-height: 600px;
            padding: 105px 70px;

            .small {
                font-size: 21px;
            }
            .name {
                font-size: 30px;
            }
    
            .btn-box {
                button {
                    display: block;
                    width: 180px;
                    margin-top: 6px;
                    padding: 6px 12px;
    
                    font-family: $font-regular;
                    font-size: 21px;
                    text-align: left;
                    border: 1px solid $color-beige;
                    color: $color-beige;
                    background-color: transparent;
    
                    img {
                        display: inline;
                        float: right;
                        width: 24px;
                        margin-top: 3px;
                    }
                }
            }

            img {
                height: 100%;
            }
        }
    } // project1

    .project2, .project3 {
        width: 50vw; height: 50vw;
        padding: 14% 10%;
        background-color: $color-midblue;

        .small {
            font-size: 3vw;
        }
        .name {
            font-size: 4vw;
            color: $color-deepblue;
        }

        .btn-box {
            display: none;

            @include responsive(large-screen){
                display: block;
                
                button {
                    display: block;
                    width: 180px;
                    margin-top: 6px;
                    padding: 6px 12px;
    
                    font-family: $font-regular;
                    font-size: 21px;
                    text-align: left;
                    border: 1px solid $color-beige;
                    color: $color-beige;
                    background-color: transparent;
    
                    img {
                        display: inline;
                        float: right;
                        width: 24px;
                        margin-top: 3px;
                    }
                }
            }
        }

        img {
            display: none;
        }

        @media (min-width: 600px) {
            max-width: 480px; max-height: 480px;
            padding: 80px 60px;

            .small {
                font-size: 18px;
            }
            .name {
                font-size: 24px;
            }
        }
        
        
    } // project2, project3

    .project2 {
        top: 0; right: -8%;

        @media (min-width: 600px) {
            right: -48px;
        }
    }

    .project3 {
        bottom: 3%; left: -5%;

        @media (min-width: 600px) {
            bottom: 0;
        }
    }

    .project4, .project5, .project6 {
        width: 40vw; height: 40vw;
        padding: 10% 10%;
        background-color: $color-beige;

        .small {
            font-size: 2.5vw;
        }
        .name {
            font-size: 3.5vw;
            color: $color-deepblue;
        }

        img {
            display: none;
        }

        @media (min-width: 600px) {
            max-width: 360px; max-height: 360px;
            padding: 40px 60px;

            .small {
                font-size: 16px;
            }
            .name {
                font-size: 20px;
            }
        }
    } // project4~6

    .project4 {
        top: 8%; left: 5%;

        @media (min-width: 600px) {
            // left: 48px;
        }
    }

    .project5 {
        bottom: 20%; right: 45%;

        @media (min-width: 600px) {
            right: 60px;
        }
    }

    .project6 {
        background-color: $color-lightblue;
        bottom: 28%; left: 65%;

        @media (min-width: 600px) {
            right: -48px;
        }
    }
}


// ==== contact ====

section.contact {
    position: relative;
    overflow: hidden;
    padding-top: 48px;
    background-color: $color-beige;

    .title {
        color: $color-deepblue;
        margin-bottom: 40px;
    }

    .info-circle {
        margin: 0 auto;
        margin-top: 20vw;
        width: 80vw; height: 80vw;
        padding: 10%;
        border-radius: 50%;
        
        // margin-bottom: -10vw;
        // transform: translateX(-2%);
        opacity: 0;
        transition: opacity 1s ease, transform 1s ease;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-deepblue;

        form {
            margin-top: 32px;
            width: 90%;

            li {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            label {
                font-size: 2.5vw;
                color: $color-beige;
            }
            input, textarea {
                width: 70%;
                padding-bottom: 1vw;
                margin-bottom: 2.5vw;
                border: 0;
                border-bottom: 1px solid $color-beige;
                font-size: 2.5vw;
                color: $color-beige;
                background: transparent;
            }

            .submit {
                width: 60%;
                display: block;
                margin: 5vw auto 0;
                padding: 4px 32px;
                border-radius: 32px;
                border: 3px solid $color-beige;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                    border: 3px solid $color-white;
                    color: $color-white;
                    background-color: $color-lightblue;
                }
            }
        }  // form

        @include responsive(large-screens) {
            max-width: 720px; max-height: 720px;
            margin-top: 240px;
            padding: 100px 120px;

            form {
                margin-top: 0;
                label {
                    font-size: 26px;
                    color: $color-beige;
                }
                input, textarea {
                    padding-bottom: 16px;
                    margin-bottom: 24px;
                    font-family: $font-regular;
                    font-size: 16px;
                }

                .submit {
                    margin: 32px auto 0;
                    padding: 12px 24px;
                }
            }
        }
    } // info-circle

    .active-contact {
        margin-bottom: -20vw;
        opacity: 1;
        transform: translateY(-20%);

        @include responsive(large-screens) {
        transform: translateY(-200px);
        margin-bottom: -200px;
        }
    }

    @include responsive(large-screens) {
        height: 760px;
    }
}  // section.contact

// ==== footer ====
footer {
    padding: 8px;
    font-size: 12px;
    text-align: center;
    color: $color-lightblue;
    background-color: $color-black;
}