$color-black: #111111;
$color-white: #FFFFFF;
$color-gray: #B7B7B7;
$color-transparent: #ffffff00;
$color-beige: #FEE5E1;
$color-pink: #FFB8D0;
$color-lightblue: #AEE4FF;
$color-midblue: #6A9CFD;
$color-deepblue: #033495;

$font-thin: 'Pretendard-Thin';
$font-extralight: 'Pretendard-ExtraLight';
$font-light: 'Pretendard-Light';
$font-regular: 'Pretendard-Regular';
$font-medium: 'Pretendard-Medium';
$font-semibold: 'Pretendard-SemiBold';
$font-bold: 'Pretendard-Bold';
$font-extrabold: 'Pretendard-ExtraBold';

$width-wide: 100%;
$width-half: 50%;

$break-small: 320px;
$break-large: 1024px; 